<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Universal_Tuner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D40E3C371E816C43009B4B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D40E3C4B1E816C43009B4B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D40E3C561E816C43009B4B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
